@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --main-color1: #202e73;
    --main-color1-light: #5671ea;
    --main-color2: #c40083;
    --main-color2-light: rgb(225, 91, 181);
    --light-text-color: #bbb;
    --skew-degree: 10deg;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #111;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #ddd;
}

.full-height {
    max-height: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-row {
    flex: auto;
    flex-wrap: wrap;
    width: 100vw;
}

.content-row:first-child {
    flex: 3;
}

.content-row.flash {
    border: solid 0px #444;
    border-width: 1px 0;
    background-color: #111;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vertical-top {
    justify-content: start;
}


.logo-panel img {
    max-width: 350px;
}

.slogan {
    font-family: "Quicksand", sans-serif;
    margin-top: 20px;
    text-align: center;
    font-size: 23px;
    font-weight: normal;
    color: #bbb;
}

.features-panel {
    margin: 0 0 0 0;
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: 0 30px;
}

.feature {
    text-align: center;
    font-weight: normal;
    flex: 1;
    flex-wrap: wrap;
    max-width: 220px;
    height: calc(100% - 0px);
    background-color: #333;
    border: solid 0px #777;
    margin: 0px;
    text-decoration: none;
    margin-right:1px;
    transform: skew(var(--skew-degree));
}

.feature:hover {
    z-index: 5;
}

.feature .icon {
    font-size: 48px;
    line-height: 60px;
}

.feature:hover .icon {
    font-size: 55px;
}

.feature h2 {
    margin: 30px 0 0 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
}

.feature:hover h2 {
    font-size: 22px;
}

.feature-content {
    transform: skew(calc(-1 * var(--skew-degree)));
    transition: 1.0s;
}

.feature:nth-child(odd) {
    background-color: #444;
    color: var(--light-text-color);

}

.feature:nth-child(odd):hover {
    background-color: var(--main-color1);
    border-color: transparent;
    color: #fff;
}

.feature:nth-child(even) {
    color: var(--main-color2);
    color: var(--light-text-color);

}

.feature:nth-child(even):hover {
    background-color: var(--main-color2);
    border-color: transparent;
    color: #fff;
}

ul li {
    line-height: 30px;
}

.footer {
    flex-direction: row;
}

.footer .icon {
    display: block;
    color: #aaa;
    font-size: 24px;
    margin: 15px;
    padding: 15px;
    border: solid 1px #555;
    border-radius: 50%;
}

.footer .icon:hover {
    background-color: #ccc;
    color: #000;
}

@media only screen and (max-width: 600px) {

    .logo-panel img {
        width: 75vw;
    }

    .slogan {
        font-size: 20px;
    }

    .overlay-full-page {
        max-height: none;
    }

    .flash {
        height: fit-content;
        height:170px;
        background-color: transparent !important;
        border: 0 !important;
    }

    .features-panel {
        padding: 0 !important;
        flex-direction: column;
        background-color: transparent !important;
    }

    .feature {
        transform: skew(0deg);
        margin:2px 0;
        background-color: transparent !important;
    }

    .feature-content {
        transform: skew(0deg);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
    }


    .feature {
        border: 0 !important;
        width: 100%;
        max-width: none;
    }

    .feature .icon, .feature:hover .icon {
        font-size: 25px;
        padding: 0 25px 0 40px;
        width: 100px;
    }

    .feature h2, .feature:hover h2 {
        margin-top: 0px;
        flex: 1;
        text-align: left;
        font-size: 25px;
    }
    
    .overlay-content-panel {
        display: flex;
        flex-direction: column;
    }

    .overlay-header {
        color: #ccc;
        padding: 10px 20px;
        margin: 0;
        position: absolute;
        left: 0px;
        top: 0%;
        height: 45px;
        width: 100%;
        border-bottom: solid 1px #555;
        display: flex;
    }

    .overlay-header .header-content {
        display: flex;
    }

    .overlay-header .header-content div {
        margin-right: 15px;
        flex: 1;
    }

    .overlay-header .header-content div:first-child {
        flex: 2;
    }

}