/* You can add global styles to this file, and also import other style files */
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: #294e86;
  color: #444;
}
.game-board-panel {
  width: 100%;
  max-width: 475px;
  margin: auto;
  margin-top: 0;
  padding: 0px;
  box-sizing: border-box;
  background-color: #294e86;
  border: solid 0px #ccc;
  position: relative;
}
.game-board-panel.diceboard {
  min-height: calc(100vh + 100px);
}
.board-panel {
  visibility: hidden;
}
.board-panel.show {
  visibility: visible;
}
h2 {
  margin: 0;
  padding: 5px 0px 8px 0px;
  font-size: 20px;
  line-height: 1;
}
h4 {
  margin: 0;
  padding: 5px;
  margin-bottom: 5px;
}
.btn {
  background-color: orangered;
  padding: 4px 12px;
  border: solid 0px #fff;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}
.btn:disabled, .btn[disabled] {
  background: rgba(255, 255, 255, 0.4) !important;
  cursor: default;
}
.btn.btn-transparent {
  background-color: rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(0, 0, 0, 0.5);
  margin-left: 15px;
  padding: 2px 12px;
  color: #333;
}
.btn.btn-secondary {
  background: #333;
}
.hide {
  display: none !important;
}
.hide.show {
  display: block !important;
}
.hidden {
  visibility: hidden !important;
  height: 0;
}
input {
  width: 40px;
  margin: 0px 2px;
  padding: 2px 5px;
  box-sizing: border-box;
  text-align: right;
  border-radius: 3px;
  border: solid 1px #6a6a6a;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
}
input.endgame {
  border: 0;
  margin: 0;
  padding: 0px 1px;
  font-size: 14px;
}
input.endgame.total {
  font-weight: bold;
}
input.filled {
  background: rgba(255, 255, 255, 0.1);
  border-color: #d0d0d0;
}
.error {
  color: red;
}
.info {
  color: inherit;
}
.success {
  color: #016801;
}
.overLayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 5;
}
.overLayer.transparent {
  background-color: rgba(0, 0, 0, 0);
}
.popup {
  position: fixed;
  width: 320px;
  margin: 15px;
  padding: 15px 12px 20px 12px;
  top: calc(50% - 220px);
  left: calc(50% - 175px);
  box-shadow: 3px 3px 10px black;
  max-height: 440px;
  background: #fff;
  border: solid 0px #aaa;
  z-index: 10;
  overflow: hidden;
  overflow-y: auto;
  color: #000;
  box-sizing: border-box;
  text-align: left !important;
  border-radius: 5px;
}
.popup h4 {
  font-size: 18px;
  margin-top: 0;
  padding-top: 0;
}
.popup .info {
  margin-top: -2px;
  font-size: 15px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: solid 1px #a6c0cf;
  background-color: #dce7ee;
}
.popup .row.link {
  padding: 5px 8px !important;
  width: 100%;
  border: solid 1px #aaa;
  box-sizing: border-box;
  cursor: pointer;
  background-color: #eee;
  border-radius: 3px;
  font-weight: normal;
  margin: 5px 0px;
}
.popup .row {
  background: #fff;
}
.col {
  padding: 3px 5px;
  align-items: stretch;
  position: relative;
}
.col.endgame-width {
  width: 41px;
  text-align: right;
  padding: 3px 2px;
}
.col.flex {
  flex: 1;
}
.col.action-button {
  width: 100px;
}
.col.description {
  flex: 1;
}
.col.description .remarks {
  display: inline-block;
  margin-left: 6px;
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  white-space: nowrap;
}
.col.col-player {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.col.block {
  display: block;
}
.col.col-value {
  position: relative;
}
.col.col-value.striped input {
  border-color: #eb3535;
  color: transparent;
  position: relative;
  background: white;
  background: linear-gradient(-35deg, white 0%, white 48%, red 49%, red 51%, white 52%, white 100%);
}
.col.col-value span.sign {
  display: none;
  position: absolute;
  z-index: 4;
  padding: 0px 3px;
  width: 16px;
  text-align: center;
  background-color: #444;
  color: #fff;
  font-size: 11px;
  margin: 6px;
  margin-left: -11px;
  border-radius: 10px;
  font-weight: normal;
}
.col.col-value span.sign.total {
  margin-top: 0px;
  margin-left: 2px;
  display: block;
  line-height: 1;
  padding: 3px 12px 3px 12px;
}
.col.col-value span.sign.error {
  border: solid 1px red;
  color: red;
  font-size: 14px;
  background-color: white;
}
.col.col-value span.sign.success {
  background-color: green;
  display: none;
}
.col.col-value span.sign.info {
  display: none;
}
.col .list-field {
  border: solid 1px #aaa;
  margin: 0px;
  padding: 5px;
  width: 37px;
}
.col .dice-select {
  padding-bottom: 50px !important;
}
.col .dice-select-item {
  position: relative;
  display: inline-block;
  width: 42.5px;
  margin: 2px;
  border: solid 1px #777;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  padding: 3px 5px;
  box-sizing: border-box;
}
.col .dice-select-item:hover {
  background-color: #444;
  color: #fff;
}
.col .dice-select-item.striped {
  color: transparent !important;
  font-size: 16px;
  border-color: rgba(255, 0, 0, 0.5);
  position: relative;
  z-index: 6;
  background: white;
  background: linear-gradient(-35deg, white 0%, white 48%, red 49%, red 51%, white 52%, white 100%);
}
.col .dice-select-item.active {
  background-color: orangered !important;
  color: #fff;
  border-color: orangered;
}
.col .dice-select-item.active::after {
  color: #fff !important;
}
.row {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px #b7b7b7;
  background: #e6e6e6;
  background: linear-gradient(202deg, #e6e6e6 0%, white 50%, #e7e7e7 100%);
  padding: 0 5px 0 5px;
  align-items: center;
  text-align: left;
}
.row.row-item:nth-child(odd) {
  background: #f8f8f8;
}
.row.transparent {
  background: transparent !important;
}
.row.top {
  align-items: baseline;
}
.row.endgame {
  background: #fff;
  padding: 4px 1px;
}
.row.endgame .player-colors-endgame {
  margin-right: 4px;
  display: inline-block;
  width: 5px;
  height: 20px;
  border-radius: 2px;
}
.row.endgame-header {
  background: #c3dbf7;
  border-top: solid 1px #b7b7b7;
}
.row.text-white {
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.05);
}
.row.sub-total, .row.total {
  font-weight: bold;
}
.row.total-general {
  font-weight: bold;
}
.row.total-general input {
  font-weight: bold;
}
.row.total-general.dice-board-margin {
  margin-bottom: 65px;
}
.row.sub-total {
  background: #f7f7f7;
  border-color: #aaaaaa;
  border-top: solid 1px #444;
}
.row.sub-total .col input {
  font-weight: bold;
  background-color: transparent;
  border-color: #f7f7f7;
}
.row.bonus {
  font-weight: bold;
  background: #f7f7f7;
  border-color: #aaaaaa;
}
.row.bonus .col {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
.row.bonus input {
  font-weight: bold;
  background-color: transparent;
  border-color: transparent;
  color: #999;
}
.row.bonus input.success {
  color: #016801;
  background-color: #c0fec0;
  border-color: #016801;
}
.row.bonus input.error {
  color: red;
  background-color: #ffcccc;
  border-color: red;
}
.row.block {
  padding: 10px;
  background: transparent !important;
}
.row.block .col.block {
  margin-bottom: 5px;
}
.row.no-border {
  border: 0;
}
.row.no-margin {
  margin: 0;
  padding: 0;
}
.row.column {
  flex-direction: column;
}
.row.center {
  text-align: center !important;
}
.row.total {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  text-transform: uppercase;
  background: #c3dbf7;
  border-color: #444;
  color: #111;
}
.row.total input {
  color: #000;
  background: transparent;
  border: 0;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: bold;
}
.row.total-general {
  font-size: 16px;
  text-transform: uppercase;
  background: #f3f2ab !important;
  border-color: #444 !important;
  color: #111;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.row.total-general input {
  font-size: 16px;
  border: 0;
  background-color: transparent;
  color: #000;
  padding: 5px;
  border-radius: 6px;
}
.row.popup-row {
  border: 0;
  background: transparent;
  font-size: 17px;
}
.row.popup-row input {
  font-size: 17px;
  border: 0;
  background-color: transparent;
}
.row.popup-row input.bold {
  font-weight: bold;
}
.row.action-buttons {
  background: transparent;
  padding-top: 20px;
  border-bottom: 0;
}
.row.action-buttons .btn {
  margin-right: 15px;
}
.row.part {
  padding: 0px 0 0 0;
  border: 0;
  font-weight: bold;
}
.row.part .col {
  display: none;
}

/*# sourceMappingURL=styles.css.map*/